/* Color & Typography Tokens */

:root {
  --color-primary: hsl(154, 100%, 42%);
  --color-on-primary: hsl(157, 97%, 8%);
  --color-primary-container: hsl(150, 76%, 52%);
  --color-on-primary-container: hsl(151, 100%, 16%);
  --color-secondary: hsl(153, 26%, 32%);
  --color-on-secondary: hsl(0, 0%, 100%);
  --color-secondary-container: hsl(150, 33%, 73%);
  --color-on-secondary-container: hsl(155, 37%, 23%);
  --color-tertiary: hsl(152, 19%, 33%);
  --color-on-tertiary: hsl(0, 0%, 100%);
  --color-tertiary-container: hsl(148, 27%, 74%);
  --color-on-tertiary-container: hsl(154, 26%, 24%);
  --color-error: hsl(0, 85%, 58%);
  --color-on-error: hsl(0, 0%, 100%);
  --color-error-container: hsl(0, 100%, 90%);
  --color-on-error-container: hsl(0, 85%, 25%);
  --color-background: hsl(0, 0%, 99%);
  --color-on-background: hsl(0, 0%, 11%);
  --color-surface: hsl(0, 0%, 97%);
  --color-on-surface: hsl(0, 0%, 11%);
  --color-surface-variant: hsl(0, 0%, 89%);
  --color-on-surface-variant: hsl(0, 0%, 28%);
  --color-outline: hsl(0, 0%, 67%);
  --color-outline-variant: hsl(0, 0%, 89%);
  --color-inverse-surface: hsl(0, 0%, 19%);
  --color-inverse-on-surface: hsl(0, 0%, 95%);
  --color-inverse-primary: hsl(150, 76%, 52%);
  --color-surface-dim: hsl(0, 0%, 85%);
  --color-surface-bright: hsl(0, 0%, 97%);
  --color-surface-container-lowest: hsl(0, 0%, 100%);
  --color-surface-container-low: hsl(0, 0%, 95%);
  --color-surface-container: hsl(0, 0%, 93%);
  --color-surface-container-high: hsl(0, 0%, 91%);
  --color-surface-container-highest: hsl(0, 0%, 95%);
  --font-display-large-font-size: 64px;
  --font-display-large-text-decoration: none;
  --font-display-large-font-family: Inter;
  --font-display-large-font-weight: 500;
  --font-display-large-font-style: normal;
  --font-display-large-font-stretch: normal;
  --font-display-large-letter-spacing: -2.88px;
  --font-display-large-line-height: 96px;
  --font-display-large-paragraph-indent: 0;
  --font-display-large-paragraph-spacing: 0;
  --font-display-large-text-case: none;
  --font-display-medium-font-size: 54px;
  --font-display-medium-text-decoration: none;
  --font-display-medium-font-family: Inter;
  --font-display-medium-font-weight: 500;
  --font-display-medium-font-style: normal;
  --font-display-medium-font-stretch: normal;
  --font-display-medium-letter-spacing: -2.16px;
  --font-display-medium-line-height: 81px;
  --font-display-medium-paragraph-indent: 0;
  --font-display-medium-paragraph-spacing: 0;
  --font-display-medium-text-case: none;
  --font-display-small-font-size: 40px;
  --font-display-small-text-decoration: none;
  --font-display-small-font-family: Inter;
  --font-display-small-font-weight: 500;
  --font-display-small-font-style: normal;
  --font-display-small-font-stretch: normal;
  --font-display-small-letter-spacing: -1.2px;
  --font-display-small-line-height: 60px;
  --font-display-small-paragraph-indent: 0;
  --font-display-small-paragraph-spacing: 0;
  --font-display-small-text-case: none;
  --font-headline-large-font-size: 38px;
  --font-headline-large-text-decoration: none;
  --font-headline-large-font-family: Inter;
  --font-headline-large-font-weight: 500;
  --font-headline-large-font-style: normal;
  --font-headline-large-font-stretch: normal;
  --font-headline-large-letter-spacing: -0.836px;
  --font-headline-large-line-height: 48px;
  --font-headline-large-paragraph-indent: 0;
  --font-headline-large-paragraph-spacing: 0;
  --font-headline-large-text-case: none;
  --font-headline-medium-font-size: 32px;
  --font-headline-medium-text-decoration: none;
  --font-headline-medium-font-family: Inter;
  --font-headline-medium-font-weight: 500;
  --font-headline-medium-font-style: normal;
  --font-headline-medium-font-stretch: normal;
  --font-headline-medium-letter-spacing: -0.64px;
  --font-headline-medium-line-height: 42px;
  --font-headline-medium-paragraph-indent: 0;
  --font-headline-medium-paragraph-spacing: 0;
  --font-headline-medium-text-case: none;
  --font-headline-small-font-size: 24px;
  --font-headline-small-text-decoration: none;
  --font-headline-small-font-family: Inter;
  --font-headline-small-font-weight: 500;
  --font-headline-small-font-style: normal;
  --font-headline-small-font-stretch: normal;
  --font-headline-small-letter-spacing: -0.288px;
  --font-headline-small-line-height: 36px;
  --font-headline-small-paragraph-indent: 0;
  --font-headline-small-paragraph-spacing: 0;
  --font-headline-small-text-case: none;
  --font-title-large-font-size: 28px;
  --font-title-large-text-decoration: none;
  --font-title-large-font-family: Inter;
  --font-title-large-font-weight: 500;
  --font-title-large-font-style: normal;
  --font-title-large-font-stretch: normal;
  --font-title-large-letter-spacing: -0.56px;
  --font-title-large-line-height: 42px;
  --font-title-large-paragraph-indent: 0;
  --font-title-large-paragraph-spacing: 0;
  --font-title-large-text-case: none;
  --font-title-small-font-size: 16px;
  --font-title-small-text-decoration: none;
  --font-title-small-font-family: Inter;
  --font-title-small-font-weight: 500;
  --font-title-small-font-style: normal;
  --font-title-small-font-stretch: normal;
  --font-title-small-letter-spacing: -0.16px;
  --font-title-small-line-height: 24px;
  --font-title-small-paragraph-indent: 0;
  --font-title-small-paragraph-spacing: 0;
  --font-title-small-text-case: none;
  --font-title-medium-font-size: 20px;
  --font-title-medium-text-decoration: none;
  --font-title-medium-font-family: Inter;
  --font-title-medium-font-weight: 500;
  --font-title-medium-font-style: normal;
  --font-title-medium-font-stretch: normal;
  --font-title-medium-letter-spacing: -0.3px;
  --font-title-medium-line-height: 30px;
  --font-title-medium-paragraph-indent: 0;
  --font-title-medium-paragraph-spacing: 0;
  --font-title-medium-text-case: none;
  --font-body-large-font-size: 16px;
  --font-body-large-text-decoration: none;
  --font-body-large-font-family: Inter;
  --font-body-large-font-weight: 500;
  --font-body-large-font-style: normal;
  --font-body-large-font-stretch: normal;
  --font-body-large-letter-spacing: -0.192px;
  --font-body-large-line-height: 24px;
  --font-body-large-paragraph-indent: 0;
  --font-body-large-paragraph-spacing: 0;
  --font-body-large-text-case: none;
  --font-body-medium-font-size: 14px;
  --font-body-medium-text-decoration: none;
  --font-body-medium-font-family: Inter;
  --font-body-medium-font-weight: 500;
  --font-body-medium-font-style: normal;
  --font-body-medium-font-stretch: normal;
  --font-body-medium-letter-spacing: -0.14px;
  --font-body-medium-line-height: 21px;
  --font-body-medium-paragraph-indent: 0;
  --font-body-medium-paragraph-spacing: 0;
  --font-body-medium-text-case: none;
  --font-body-small-font-size: 12px;
  --font-body-small-text-decoration: none;
  --font-body-small-font-family: Inter;
  --font-body-small-font-weight: 500;
  --font-body-small-font-style: normal;
  --font-body-small-font-stretch: normal;
  --font-body-small-letter-spacing: -0.118px;
  --font-body-small-line-height: 18px;
  --font-body-small-paragraph-indent: 0;
  --font-body-small-paragraph-spacing: 0;
  --font-body-small-text-case: none;
  --font-label-large-font-size: 14px;
  --font-label-large-text-decoration: none;
  --font-label-large-font-family: Inter;
  --font-label-large-font-weight: 500;
  --font-label-large-font-style: normal;
  --font-label-large-font-stretch: normal;
  --font-label-large-letter-spacing: -0.168px;
  --font-label-large-line-height: 21px;
  --font-label-large-paragraph-indent: 0;
  --font-label-large-paragraph-spacing: 0;
  --font-label-large-text-case: none;
  --font-label-medium-font-size: 12px;
  --font-label-medium-text-decoration: none;
  --font-label-medium-font-family: Inter;
  --font-label-medium-font-weight: 500;
  --font-label-medium-font-style: normal;
  --font-label-medium-font-stretch: normal;
  --font-label-medium-letter-spacing: -0.12px;
  --font-label-medium-line-height: 18px;
  --font-label-medium-paragraph-indent: 0;
  --font-label-medium-paragraph-spacing: 0;
  --font-label-medium-text-case: none;
  --font-label-small-font-size: 11px;
  --font-label-small-text-decoration: none;
  --font-label-small-font-family: Inter;
  --font-label-small-font-weight: 500;
  --font-label-small-font-style: normal;
  --font-label-small-font-stretch: normal;
  --font-label-small-letter-spacing: -0.108px;
  --font-label-small-line-height: 16.5px;
  --font-label-small-paragraph-indent: 0;
  --font-label-small-paragraph-spacing: 0;
  --font-label-small-text-case: none;
  --space-4: 4px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-64: 64px;
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-full: 9999px;
  --elevation-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --elevation-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

.dark {
  --color-primary: hsl(154, 100%, 42%);
  --color-on-primary: hsl(149, 100%, 11%);
  --color-primary-container: hsl(151, 100%, 16%);
  --color-on-primary-container: hsl(145, 100%, 68%);
  --color-secondary: hsl(150, 33%, 73%);
  --color-on-secondary: hsl(160, 72%, 13%);
  --color-secondary-container: hsl(155, 37%, 23%);
  --color-on-secondary-container: hsl(149, 57%, 84%);
  --color-tertiary: hsl(148, 27%, 74%);
  --color-on-tertiary: hsl(156, 42%, 15%);
  --color-tertiary-container: hsl(154, 26%, 24%);
  --color-on-tertiary-container: hsl(148, 48%, 85%);
  --color-error: hsl(0, 72%, 55%);
  --color-on-error: hsl(0, 0%, 100%);
  --color-error-container: hsl(0, 72%, 25%);
  --color-on-error-container: hsl(0, 86%, 90%);
  --color-background: hsl(0, 0%, 6%);
  --color-on-background: hsl(0, 0%, 89%);
  --color-surface: hsl(0, 0%, 10%);
  --color-on-surface: hsl(0, 0%, 89%);
  --color-surface-variant: hsl(0, 0%, 28%);
  --color-on-surface-variant: hsl(0, 0%, 78%);
  --color-outline: hsl(0, 0%, 57%);
  --color-outline-variant: hsl(0, 0%, 28%);
  --color-inverse-surface: hsl(0, 0%, 89%);
  --color-inverse-on-surface: hsl(0, 0%, 19%);
  --color-inverse-primary: hsl(152, 100%, 21%);
  --color-surface-dim: hsl(0, 0%, 6%);
  --color-surface-bright: hsl(0, 0%, 24%);
  --color-surface-container-lowest: hsl(0, 0%, 4%);
  --color-surface-container-low: hsl(0, 0%, 11%);
  --color-surface-container: hsl(0, 0%, 12%);
  --color-surface-container-high: hsl(0, 0%, 17%);
  --color-surface-container-highest: hsl(0, 0%, 22%);
}
