.card {
  border-radius: var(--radius-lg);
  padding: var(--space-16);
  overflow: hidden;
  background-color: var(--color-surface-container-low);
}

@media (min-width: 768px) {
  .card {
    padding: var(--space-24);
  }
}


